table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: #f9faff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

th {
  background: #eaf4ff;
  color: #023047;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 2px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2faff;
}

tr:hover {
  background-color: #e3f2fd;
}

thead {
  background-color: #eaf4ff;
  border-bottom: 2px solid #ddd;
}

tfoot {
  background-color: #f9faff;
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
  padding: 3px 20px;
}

.edit-button:hover {
  color: #0056b3;
}

.edit-button fa-icon {
  font-size: 1.2rem;
}

.remove-button {
  background: transparent;
  border: none;
  color: #dc3545;
  cursor: pointer;
  padding: 0;
  font-size: 1.2em;
}

.remove-button:hover {
  opacity: 0.7;
}


.status-icon {
  display: flex;
  justify-content: center;
  align-items: left;
  font-size: 1.5em;
}

.text-success {
  color: green;
}

.text-muted {
  color: gray;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-button fa-icon {
  font-size: 1.25em;
}

.toggle-icon-large {
  font-size: 1.45rem !important;
}