<div class="data-grid">
    <app-data-grid [columns]="columns" [data]="pacientes"></app-data-grid>
  </div>
  
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="page <= 1" class="pagination-button pagination-button-prev">
      <i class="fa fa-chevron-left"></i>
    </button>
    <span class="page-info">Página {{page}} de {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="page >= totalPages" class="pagination-button pagination-button-next">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
  