<table class="table">
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
      <th>Ações</th> <!-- Coluna fixa para as ações -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <!-- Exibir células dinâmicas -->
      <td *ngFor="let column of columns">
        <ng-container [ngSwitch]="column.format">
          <span *ngSwitchCase="'cpf'">{{ getNestedValue(item, column.field) | cpf }}</span>
          <span *ngSwitchCase="'date'">{{ getNestedValue(item, column.field) | date }}</span>
          <span *ngSwitchCase="'celular'">{{ getNestedValue(item, column.field) | phoneMask:'celular' }}</span>
          <span *ngSwitchCase="'telefone'">{{ getNestedValue(item, column.field) | phoneMask:'telefone' }}</span>
          <span *ngSwitchCase="'status'">
            <ng-container *ngIf="getNestedValue(item, column.field) === 'ATIVO'; else inactiveStatus">
              <fa-icon [icon]="faCheckCircle" class="text-success status-icon"></fa-icon>
            </ng-container>
            <ng-template #inactiveStatus>
              <fa-icon [icon]="faTimesCircle" class="text-muted status-icon"></fa-icon>
            </ng-template>
          </span>
          <span *ngSwitchDefault>{{ getNestedValue(item, column.field) }}</span>
        </ng-container>
      </td>
      <!-- Coluna de ações com botões de editar e remover -->
      <td>
        <button *ngIf="showEdit" (click)="onEdit(item)" class="edit-button">
          <fa-icon [icon]="['fas', 'edit']"></fa-icon>
        </button>
        <button *ngIf="showDelete" (click)="onRemove(item)" class="remove-button">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>