<div *ngIf="selectedPaciente" class="resumo-consulta-container">

    <!-- Sessão Dados Pessoais e Contato -->
    <section class="grupo-secao">
        <h2>Informações do Paciente</h2>
        <div class="cards-container dois-cards">
            <div class="card">
                <h3>Dados Pessoais</h3>
                <p><strong>CPF:</strong> {{ selectedPaciente.pessoa.cpf | cpf }}</p>
                <p><strong>Nome:</strong> {{ selectedPaciente.pessoa.nome }}</p>
                <p><strong>Data de Nascimento:</strong> {{ selectedPaciente.pessoa.dataNascimento | date:'dd/MM/yyyy' }}
                </p>
                <p><strong>Sexo:</strong> {{ selectedPaciente.pessoa.sexo === 'M' ? 'Masculino' : 'Feminino' }}</p>
            </div>

            <div class="card">
                <h3>Contato</h3>
                <p><strong>Email:</strong> {{ selectedPaciente.contato?.email || 'Não informado' }}</p>
                <p><strong>Celular:</strong> {{ selectedPaciente.contato?.celular ? (selectedPaciente.contato?.celular |
                    phoneMask:'celular') : 'Não informado' }}</p>
                <p><strong>Telefone:</strong> {{ selectedPaciente.contato?.telefone ?
                    (selectedPaciente.contato?.telefone | phoneMask:'telefone') : 'Não informado' }}</p>
            </div>
        </div>
    </section>

    <hr class="separador" />

    <!-- Sessão Endereço -->
    <section class="grupo-secao">
        <div class="cards-container endereco-card-container">
            <div class="card endereco-card">
                <h3>Endereço</h3>
                <p><strong>Logradouro:</strong> {{ selectedPaciente.endereco?.logradouro || 'Não informado' }}</p>
                <p><strong>Número:</strong> {{ selectedPaciente.endereco?.numero || 'Não informado' }}</p>
                <p><strong>Complemento:</strong> {{ selectedPaciente.endereco?.complemento || 'Não informado' }}</p>
                <p><strong>Cidade:</strong> {{ selectedPaciente.endereco?.cidade || 'Não informado' }}</p>
                <p><strong>CEP:</strong> {{ selectedPaciente.endereco?.cep || 'Não informado' }}</p>
                <p><strong>Estado:</strong> {{ selectedPaciente.endereco?.uf || 'Não informado' }} - {{
                    selectedPaciente.endereco?.pais || 'Não informado' }}</p>
            </div>
        </div>
    </section>

</div>