.consulta-container {
  margin-top: 10px;
}

.form-container {
  padding: 20px;
}

.resumo-paciente {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  min-height: 100px;
}


