<div class="consulta-container">
    <mat-tab-group>
        <!-- ABA 0: Vincular Paciente -->
        <mat-tab *ngIf="isEditing" label="Resumo">
            <div class="form-container">

            </div>
        </mat-tab>
        <!-- ABA 1: Vincular Paciente -->
        <mat-tab label="Dados do Paciente">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Paciente</mat-label>
                    <mat-select [(ngModel)]="optionSelect" (selectionChange)="onPacienteChange($event)">
                        <mat-option *ngFor="let paciente of pacientesOptions" [value]="paciente">{{ paciente.nome
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="selectedPaciente" class="resumo-paciente">
                    <app-paciente-resumo [selectedPaciente]="selectedPaciente"></app-paciente-resumo>
                    <!-- Adicione mais informações conforme necessário -->
                </div>
            </div>
        </mat-tab>

        <!-- ABA 2: Anamnese -->
        <mat-tab label="Anamnèse">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Relato do Paciente</mat-label>
                    <textarea matInput [(ngModel)]="anamnese" placeholder="Descreva o relato do paciente"></textarea>
                </mat-form-field>
            </div>
        </mat-tab>

        <!-- ABA 3: Tratamento da Consulta -->
        <mat-tab label="Diagnósticos">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Diagnóstico</mat-label>
                    <textarea matInput [(ngModel)]="diagnostico" placeholder="Descreva o diagnóstico"></textarea>
                </mat-form-field>
            </div>
        </mat-tab>

        <!-- ABA 4: Solicitação de Exames -->
        <mat-tab label="Solicitação de Exames">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Exames Solicitados</mat-label>
                    <textarea matInput [(ngModel)]="examesSolicitados"
                        placeholder="Descreva os exames solicitados"></textarea>
                </mat-form-field>
            </div>
        </mat-tab>

        <!-- ABA 5: Prescrições Médicas -->
        <mat-tab label="Prescrições Médicas">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Prescrições Médicas</mat-label>
                    <textarea matInput [(ngModel)]="prescricoesMedicas"
                        placeholder="Descreva as prescrições médicas"></textarea>
                </mat-form-field>
            </div>
        </mat-tab>

        <!-- ABA 6: Diagnóstico -->
        <mat-tab label="Tratamentos">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Tratamento</mat-label>
                    <textarea matInput [(ngModel)]="tratamento" placeholder="Descreva o tratamento"></textarea>
                </mat-form-field>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>