body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    height: 100%;
}

html {
    height: 100%;
}

.dashboard-container {
    display: flex;
    height: 100vh;
    background: #f5f5f5;
}

.sidebar {
    height: 100%;
    width: 60px;
    background-color: #007bb5;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 200px;
}

.menu-item {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    transition: background-color 0.3s ease, color 0.3s ease, padding-left 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
}

.menu-item i {
    font-size: 20px;
    margin-right: 10px;
    transition: font-size 0.3s ease;
}

.menu-text {
    display: none;
    margin-left: 10px;
    font-size: 14px;
    color: #ffffff;
    white-space: nowrap;
    transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.sidebar:hover .menu-item .menu-text {
    display: inline;
    margin-left: 10px;
}

.sidebar:hover .menu-item {
    padding-left: 20px;
}

.menu-item:hover {
    background-color: #025f9b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar:hover .menu-item {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.sidebar:hover .menu-item i {
    font-size: 24px;
}

.content {
    flex: 1;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.header h1 {
    font-size: 28px;
    font-weight: 600;
    color: #023047;
    margin: 0;
    line-height: 1.2;
    text-align: center;
}
