<div class="dashboard-container">
  <nav class="sidebar">
    <a routerLink="/prontuario/home" class="menu-item" *ngIf="hasRole('ROLE_MEDICO', 'ROLE_ADMINISTRATIVO')">
      <i class="fa fa-home"></i>
      <span class="menu-text">Home</span>
    </a>
    <a routerLink="/prontuario/consultas" class="menu-item" *ngIf="hasRole('ROLE_MEDICO')">
      <i class="fa fa-medkit"></i>
      <span class="menu-text">Consultas</span>
    </a>
    <a routerLink="/prontuario/agendamentos" class="menu-item" *ngIf="hasRole('ROLE_ADMINISTRATIVO', 'ROLE_MEDICO')">
      <i class="fa fa-calendar"></i>
      <span class="menu-text">Agendamentos</span>
    </a>
    <a routerLink="/prontuario/pacientes" class="menu-item" *ngIf="hasRole('ROLE_ADMINISTRATIVO', 'ROLE_MEDICO')">
      <i class="fa fa-user-md"></i>
      <span class="menu-text">Pacientes</span>
    </a>
    <a routerLink="/prontuario/medicos" class="menu-item" *ngIf="hasRole('ROLE_ADMINISTRATIVO')">
      <i class="fa fa-stethoscope"></i>
      <span class="menu-text">Médicos</span>
    </a>
    <a routerLink="/prontuario/usuarios" class="menu-item" *ngIf="hasRole('ROLE_ADMINISTRATIVO')">
      <i class="fa fa-user"></i>
      <span class="menu-text">Usuários</span>
    </a>

    <div class="sidebar-footer">
      <div class="user-info" [attr.data-initial]="nomeUsuario.charAt(0)">
        <div class="user-name">{{ nomeUsuario }}</div>
        <div class="user-login">{{ loginUsuario }}</div>
      </div>

      <button class="profile-btn" (click)="editarPerfil()" title="Editar Perfil">
        <i class="fa fa-pencil"></i>
        <span class="btn-text">Alterar dados</span>
      </button>

      <button class="logout-btn" (click)="logout()" title="Sair">
        <i class="fa fa-sign-out"></i>
        <span class="btn-text">Sair</span>
      </button>
    </div>
  </nav>

  <div class="content">
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</div>