<div class="alergia-container">
  <form [formGroup]="alergiaPacienteForm" (ngSubmit)="onAddAlergia()" class="form">
    <div class="form-group-row">
      <div class="form-group">
        <input id="descricao" formControlName="descricao" placeholder="Cadastrar alergia do paciente" type="text"
          class="form-control" />
      </div>
      <div class="form-actions">
        <button type="submit" class="btn-add" title="Adicionar alergia">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </form>

  <div class="separator"></div>

  <div class="data-grid">
    <ng-container *ngIf="alergias && alergias.length > 0; else noDataTemplate">
      <app-data-grid [columns]="columns" [data]="alergias" [showEdit]="false" (remove)="onRemoveAlergia($event)">
      </app-data-grid>
    </ng-container>

    <ng-template #noDataTemplate>
      <p class="no-data-message">Nenhuma alergia cadastrada.</p>
    </ng-template>
  </div>
</div>
