<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
      <th>Ações</th> <!-- Coluna para ações -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns">
        <ng-container [ngSwitch]="column.format">
          <span *ngSwitchCase="'cpf'">{{ getNestedValue(item, column.field) | cpf }}</span>
          <span *ngSwitchCase="'date'">{{ getNestedValue(item, column.field) | date }}</span>
          <span *ngSwitchDefault>{{ getNestedValue(item, column.field) }}</span>
        </ng-container>
      </td>
      <!-- Botão de editar com ícone de lápis -->
      <td>
        <button (click)="onEdit(item)" class="edit-button">
          <fa-icon [icon]="['fas', 'edit']"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
