<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns">
        <ng-container [ngSwitch]="column.format">
          <!-- Aplica o pipe de CPF se a formatação for 'cpf' -->
          <span *ngSwitchCase="'cpf'">{{ getNestedValue(item, column.field) | cpf }}</span>
          <!-- Aplica o pipe de Data se a formatação for 'date' -->
          <span *ngSwitchCase="'date'">{{ getNestedValue(item, column.field) | date }}</span>
          <!-- Exibe o valor normal se não houver formatação -->
          <span *ngSwitchDefault>{{ getNestedValue(item, column.field) }}</span>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
