<div class="consulta-container">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
        <mat-tab *ngIf="isEditing" label="Resumo">
            <div class="form-container">
                <app-resumo [idConsulta]="idConsulta"></app-resumo>
            </div>
        </mat-tab>
        <mat-tab label="Dados do Paciente">
            <div class="form-container">

                <mat-form-field *ngIf="!isEditing" appearance="fill">
                    <mat-label>Tipo de Consulta</mat-label>
                    <mat-select [(ngModel)]="tipoConsulta" placeholder="Selecione um tipo de consulta"
                        [disabled]="isEditing">
                        <mat-option value="PRIMEIRA_CONSULTA">Primeira Consulta</mat-option>
                        <mat-option value="ROTINA">Rotina</mat-option>
                        <mat-option value="RETORNO">Retorno</mat-option>
                        <mat-option value="EMERGENCIA">Emergência</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="!isEditing" appearance="fill">
                    <mat-label>Paciente</mat-label>
                    <mat-select [(ngModel)]="optionSelect" (selectionChange)="onPacienteChange($event)"
                        [disabled]="isEditing">
                        <mat-select-trigger>
                            {{ optionSelect?.nome || 'Selecione um paciente' }}
                        </mat-select-trigger>

                        <mat-option>
                            <input matInput [(ngModel)]="searchTerm" placeholder="Pesquisar paciente"
                                (input)="filterPacientes()" (click)="$event.stopPropagation()" />
                        </mat-option>

                        <mat-option *ngFor="let paciente of filteredPacientes" [value]="paciente">
                            {{ paciente.nome }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="selectedPaciente" class="resumo-paciente">
                    <app-paciente-resumo [selectedPaciente]="selectedPaciente"></app-paciente-resumo>
                    <div *ngIf="!isEditing" class="button-container">
                        <button class="btn btn-primary" (click)="criarConsulta()">Salvar</button>
                        <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Anamnèse">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Relato do Paciente</mat-label>
                    <textarea matInput [(ngModel)]="anamnese" placeholder="Descreva o relato do paciente"></textarea>
                </mat-form-field>
            </div>
            <div class="button-container">
                <button class="btn btn-primary" (click)="manterConsulta()">Salvar</button>
                <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
            </div>
        </mat-tab>

        <mat-tab label="Diagnósticos">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Diagnóstico</mat-label>
                    <textarea matInput [(ngModel)]="diagnostico" placeholder="Descreva o diagnóstico"></textarea>
                </mat-form-field>

                <div class="button-container">
                    <button class="btn btn-primary" (click)="salvarDiagnostico()">Salvar</button>
                    <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
                </div>

                <div class="separator"></div>
                <div class="form-container">
                    <app-cid-cadastro [idDiagnostico]="idDiagnostico"></app-cid-cadastro>
                </div>
            </div>

        </mat-tab>
        <mat-tab label="Alergias">
            <div class="form-container">
                <app-alergia-paciente [idPaciente]="idPaciente"></app-alergia-paciente>
            </div>
        </mat-tab>

        <mat-tab label="Prescrições Médicas">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Orientações Médicas</mat-label>
                    <textarea matInput [(ngModel)]="prescricao"
                        placeholder="Descreva as prescrições médicas"></textarea>
                </mat-form-field>
                <div class="button-container">
                    <button class="btn btn-primary" (click)="salvarPrescricao()">Salvar</button>
                    <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
                </div>
            </div>

            <div class="separator"></div>
            <div class="form-container">
                <app-medicamento-cadastro [idPrescricaoConsulta]="idPrescricaoConsulta"></app-medicamento-cadastro>
            </div>
        </mat-tab>

        <mat-tab label="Tratamentos">
            <div class="form-container">
                <mat-form-field appearance="fill">
                    <mat-label>Tratamento</mat-label>
                    <textarea matInput [(ngModel)]="tratamento" placeholder="Descreva o tratamento"></textarea>
                </mat-form-field>
                <div class="button-container">
                    <button class="btn btn-primary" (click)="salvarTratamento()">Salvar</button>
                    <button type="button" (click)="cancel()" class="btn btn-secondary">Cancelar</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Solicitação de Exames">
            <div class="form-container">
                <app-exame-consulta [idConsulta]="idConsulta"></app-exame-consulta>
            </div>
        </mat-tab>
        <mat-tab label="Arquivos">
            <div class="form-container">
                <app-upload-arquivo [idConsulta]="idConsulta"></app-upload-arquivo>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>